<!DOCTYPE html>
<html>
<head>
    <title>Deposit Funds</title>
</head>
<body>
    <header>
        <h1>Deposit Funds</h1>
        <nav>
            <a href="{% url 'portfolio:investmentaccount_list' %}">Back to Accounts List</a>
        </nav>
    </header>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Deposit</button>
    </form>
    {% endblock %}

    <footer>
        <p><a href="{% url 'portfolio:investmentaccount_list' %}">Cancel</a></p>
    </footer>
</body>
</html>
